@import '../../../styles/pxrem.scss';

.RegistrationForm button {
  width: 100%;
  display: inline-block;
  border: none;
  padding: rem(10) 0;
  margin: rem(10) 0 0 0;
  line-height: rem(24);
  text-decoration: none;
  border-radius: rem(4);
  font-size: rem(16);
  color: #6E41E2;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    background: #EDE8FB;
  }
}

.RegistrationForm button.registration {
  margin: rem(32) 0 0 0;
  background: #6E41E2;
  color: white;
  &:hover {
    background: #5835B0;
  }
}